.DS_Store
node_modules
/dist
/app/etc/env.js
/app/etc/modules.local.json
/app/generated
/app/modules/*
!/app/modules/.gitkeep
output/*
!output/500.html
!output/fallback-fonts
!output/resources

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
