[submodule "Redmine"]
	path = modules/AmazingCat/RedmineIntegration
	url = https://git.amazingcat.net/AmazingTime/core/modules/redmine/frontend.git
	branch = master
[submodule "Gitlab"]
	path = modules/AmazingCat/GitlabIntegration
	url = https://git.amazingcat.net/AmazingTime/core/modules/gitlab/frontend.git
	branch = master
[submodule "Demo"]
	path = modules/AmazingCat/Demo
	url = https://git.amazingcat.net/AmazingTime/core/modules/frontend/demo.git
	branch = master
