[submodule "app/modules/AmazingCat/CoreModule"]
	path = app/modules/AmazingCat/CoreModule
	url = https://git.amazingcat.net/AmazingTime/core/modules/frontend/core.git
	branch = master
[submodule "app/modules/AmazingCat/DashboardModule"]
	path = app/modules/AmazingCat/DashboardModule
	url = https://git.amazingcat.net/AmazingTime/core/modules/frontend/dashboard.git
	branch = master
[submodule "app/modules/AmazingCat/DemoModule"]
	path = app/modules/AmazingCat/DemoModule
	url = https://git.amazingcat.net/AmazingTime/core/modules/frontend/demo.git
	branch = master
[submodule "app/modules/AmazingCat/GitlabIntegration"]
	path = app/modules/AmazingCat/GitlabIntegration
	url = https://git.amazingcat.net/AmazingTime/core/modules/gitlab/frontend.git
	branch = master
[submodule "app/modules/AmazingCat/ProjectReportModule"]
	path = app/modules/AmazingCat/ProjectReportModule
	url = https://git.amazingcat.net/AmazingTime/core/modules/frontend/project-report.git
	branch = master
[submodule "app/modules/AmazingCat/ProjectsModule"]
	path = app/modules/AmazingCat/ProjectsModule
	url = https://git.amazingcat.net/AmazingTime/core/modules/frontend/projects.git
	branch = master
[submodule "app/modules/AmazingCat/RedmineIntegration"]
	path = app/modules/AmazingCat/RedmineIntegration
	url = https://git.amazingcat.net/AmazingTime/core/modules/redmine/frontend.git
	branch = master
[submodule "app/modules/AmazingCat/ScreenshotsModule"]
	path = app/modules/AmazingCat/ScreenshotsModule
	url = https://git.amazingcat.net/AmazingTime/core/modules/frontend/screenshots.git
	branch = master
[submodule "app/modules/AmazingCat/TasksModule"]
	path = app/modules/AmazingCat/TasksModule
	url = https://git.amazingcat.net/AmazingTime/core/modules/frontend/tasks.git
	branch = master
[submodule "app/modules/AmazingCat/TimeIntervalsModule"]
	path = app/modules/AmazingCat/TimeIntervalsModule
	url = https://git.amazingcat.net/AmazingTime/core/modules/frontend/time-intervals.git
	branch = master
[submodule "app/modules/AmazingCat/TimeUseReportModule"]
	path = app/modules/AmazingCat/TimeUseReportModule
	url = https://git.amazingcat.net/AmazingTime/core/modules/frontend/time-use-report.git
	branch = master
[submodule "app/modules/AmazingCat/TrelloIntegration"]
	path = app/modules/AmazingCat/TrelloIntegration
	url = git@git.amazingcat.net:AmazingTime/core/modules/trello/frontend.git
	branch = master
[submodule "app/modules/AmazingCat/JiraIntegration"]
	path = app/modules/AmazingCat/JiraIntegration
	url = git@git.amazingcat.net:AmazingTime/core/modules/jira/frontend.git
	branch = master
