[submodule "Redmine"]
	path = app/vendor_modules/AmazingCat/RedmineIntegration
	url = https://git.amazingcat.net/cattr/core/modules/redmine/frontend.git
	branch = main
[submodule "Gitlab"]
	path = app/vendor_modules/AmazingCat/GitlabIntegration
	url = https://git.amazingcat.net/cattr/core/modules/gitlab/frontend.git
	branch = main
